.hero{
    width: 100%;
}

.hero_img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.hero_color{
    position: absolute;
    background-color: rgb(41, 136, 139);
    width: 100%;
    z-index: 1;
}