.Hero{
    width: 100%;
}

.Hero__img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.Hero__color{
    position: absolute;
    background-color: rgba(148, 44, 207, 0.185);
    width: 100%;
    z-index: 1;
}